doctype html 
html(lang='pl-PL')
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title SmartHOME
        link( rel='stylesheet' href='./style.css')
        link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Srisakdi:wght@700&display=swap")
        
        <script src="./test.js"></script>

                            

          
 
    body(onload = "odliczanie();")
        .nav
            
            .nav_box 
                .nav_data
                    div#zegar

                .nav_pogoda
                    p OBRAZEK
                .nav_info
                    ul                        
                        li
                            a(href="#") Element_1
                            p Podpis
        .main
            .main_lista
            .main_funkcje 
                .f_test
                    input(type='text' id="pole")
                    input(type="submit" value='Sprawdź' onclick="sprawdz()")
                    #wynik
        .footer 
            .footer_app 